/* Universal Selector */
* {
  margin: 0;
  padding: 0px;
}

/* Element Selectors */
body {
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: antiquewhite;
  color: #4F4846;
}

h1,
h2 {
  margin: 5px;
  background-color: white;
  column-width: auto;

}

.text-left {
  display: inline;
  background-color: cornflowerblue;
  font-size: xx-large;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  overflow: hidden;
  background-color: cadetblue;
  color: black;
}

.Me-too {
  width: 400px;
  height: 500px;
  border-style: dashed;

}

.Believe {
  width: 600;
  height: auto;
}

.column {
  float: left;
  width: 25%;
}

.row {
  
  display: table;
  clear: both;
}
.text-center{
  background-color: aqua;
}